-
  const list2 = [
    "Ваш заказ будет доставлен в пункт самовывоза по адресу, указанному при оформлении заказа (при условии подтверждения пункта менеджером).",
    "Пункты имеют удобный график работы, во многих из них предусмотрены различные варианты оплаты.",
    "Заказ будет бесплатно храниться в пункте самовывоза в течение 7 дней.",
    "При получении товара, оплаченного на сайте, необходимо предоставить свой паспорт.",
  ]

  const list3 = [
    "Ваш заказ будет доставлен курьером лично в руки по адресу, указанному при оформлении заказа.",
    "При получении товара, оплаченного на сайте, необходимо предоставить свой паспорт курьеру.",
  ]

  const list4 = [
    "Постамат — это специальный платёжный терминал и автоматизированные ячейки для хранения, из которых вы сами забираете заказ — в удобном месте и в удобное время, следуя инструкциям в меню терминала.",
    "Как только ваш заказ будет доставлен в постамат или пункт выдачи, вам придёт SMS-сообщение  с кодом для получения заказа или push уведомление, если у вас установлено приложение.",
    "Срок хранения заказа составляет 3 дня, в мобильном приложении PickPoint вы можете бесплатно продлить срок хранения заказа еще на 5 дней.",
  ]

  const list5 = [
    "При оплате товара в отделении Почты РФ дополнительно оплачивается услуга по осуществлению почтовых переводов денежных средств - 2% от суммы заказа, но не менее 50 руб.",
    "С 1 июня 2018 года срок бесплатного хранения посылок на почтовом отделении сокращен до 15 дней",
  ]

  const list6 = [
    "Примерка товара при доставке не осуществляется.",
    "Вскрытие посылки возможно после полной оплаты заказа.",
    "Частичный выкуп товара не предусмотрен.",
  ]

section.text-block
  h3.h3 Способы доставки
  .text-block__row
    .text-block__column
      h4.h4 Бесплатная доставка
      ol
        each item in ["Курьером и почтой по всей России, при заказе от 3500 руб*","До пункта самовывоза и Pick Point по всей России, при заказе от 2500 руб*"]
          li=item
      small *Если вы проживаете в удаленном регионе, доставка может быть платной, независимо от суммы заказа. Доставка рассчитывается автоматически при оформлении заказа на сайте.
      .text-block__red-block
        p
          strong Обращаем Ваше внимание!
        p Срок доставки посылки указан в рабочих днях, без учета праздничных, выходных дней и дня оформления заказа на сайте.
        p Возможно увеличение сроков доставки в связи с большой загрузкой доставочных служб.
      h4.h4 Доставка до пункта самовывоза DPD
      ol
        each item in list2
          li=item
    .text-block__column
      h4.h4 Платная доставка Курьером DPD
      ol
        each item in list3
          li=item
  .text-block__row
    .text-block__column
      h4.h4 Доставка в постамат Pick-Point
      ol
        each item in list4
          li=item
    .text-block__column
      h4.h4 Доставка до ближайшего отделения почты РФ
      ol
        li Стоимость доставки рассчитывается автоматически при оформлении заказа на нашем сайте.
      small *Если в ваш населенный пункт нет возможности курьерской доставки, при оформлении заказа вам будет доступен только вариант доставки Почтой РФ
      ol
        each item in list5
          li=item
      small *Если вам требуется хранение заказа свыше установленного срока, необходимо составить заявление и оплатить данную услугу на почтовом отделении.
  .text-block__border-red
    h4.h4 Обращаем ваше внимание!
    ol
      li В период выходных дней, распродаж, государственных праздников для доставки заказа может потребоваться большее количество времени.
    p
      strong Оперативно отследить свой заказ вы можете в вашем личном кабинете в разделе «Мои заказы», указав трек-номер интересующего вас заказа.
    ol
      each item in list6
        li=item
